@model Yenviethue.Models.ViewModels.CartManagerVM

@{
    ViewData["Title"] = "Index";
}


<div class="backgroundWhiteBorder">
    <div class="row">
        <div class="col-6">
            <h2>Guest List</h2>
        </div>
        <div class="col-6 text-right">
            <a class="btn-link" asp-action="Index">Back to ShoppingCart list</a>
        </div>
    </div>
    <div class="row">
        <div class="col-6">
            <form method="post" asp-area="Admin" asp-controller="CartAdmin" asp-action="DeleteAllGuestCart">
                <button type="submit" class="btn btn-danger">Delete all guest and their cart</button>
            </form>
        </div>
        <div class="col-6">
        </div>
    </div>

    <br />
    <div>
        @if (Model.GuestList.Count() > 0)
        {
            <table class="table table-striped border">
                <tr class="table-secondary">
                    <th>
                        Guest Id
                    </th>
                    <th>
                        Expiration Date
                    </th>

                </tr>
                @foreach (var item in Model.GuestList)
                {
                    <tr>
                        <td>
                            <textarea style="width:100%">@item.Id.Substring(26)</textarea>
                        </td>
                        <td>
                            @item.ExpirationDate
                        </td>
                    </tr>
                }
            </table>
            <div page-model="@Model.PagingInfo" page-classes-enabled="true" page-class="btn border"
                 page-class-normal="btn btn-light" page-class-selected="btn btn-info active"
                 class="btn-group">
            </div>
        }
        else
        {
            <p>No guest exists...</p>
        }

    </div>
</div>